<div class="container">
  <div class="login_card">
    <h1>Login</h1>
    <div class="form-fields-wrapper">
      <input class="login_fields" type="text" placeholder="username" />
    </div>
    <div class="form-fields-wrapper"> 
      <input class="login_fields" type="password" placeholder="password" />
    </div>
    <div class="form-fields-wrapper">
      <button class="login-btn login_fields " (click)="login()">login</button>
    </div>
  </div>
</div>


<!-- <div class="outer-div"><div class="inner-div"></div></div> -->

